*.iml
*.idea
project/target
target/
/project/
.DS_Store
README
project/
spark-warehouse/
src/main/java/
src/main/scala/
src/test/java/
src/test/resources/
src/test/scala-2.11/
src/test/scala/
!/project/build.properties
!/project/plugins.sbt
